body {
    background: #262628;
    color: white;
}

.inner {
    display: flex;
    position: relative;
    height: 100%;
    z-index: 1;
}

.block {
    height: 100px;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.842);
}

.white {
    position: fixed;
    background-color: #ffffff;
    bottom: 100px;
    left: 50%;
    right: 50px;
}

.red {
    position: absolute;
    background-color: #ff0000;
    top: auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 50px;
    bottom: 80px;

}