html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

/* body * {
  box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article-title-medium {
  max-width: 596px;
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.article-mb-2 {
  margin-bottom: 40px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../images/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  bottom: 136px;
  right: -350px;
}

.article-img,
.article-video {
  width: 100%;
}

.article-list {
  margin-top: 0;
  padding-left: 16px;
}

.article-item {
  margin-bottom: 12px;
}

.article-item::marker {
  font-size: 22px;
  color: #3596ED;
}


.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ED;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;
}

.article-play-button:hover {
  background-color: #3ba3ff;
}

.article-play-button:not(:disabled):active {
    background-color: #276eac ;
}

