* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
}

.header {
	grid-column: 12 span;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	grid-row: 2;
	grid-column: 2 span;
	background-color: #e2e20d;
}

.main {

	grid-row: 2 / 3;
	grid-column: 3 / 12 span;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	gap: 10px;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}


.footer {
	grid-row: 3;
	grid-column: 12 span;
	background-color: #0b2fe2;
	min-height: 250px;
}

@media (width <=1220px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

@media (width <=768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	.wrapper {
		grid-template-columns: repeat(10, 1fr);
	}
}

@media (width <=576px) {
	.container {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(8, 1fr);
	}
	.wrapper {
		grid-template-columns: repeat(8, 1fr);
	}
}