@font-face {
    font-family: "Open Sans";
    src: 
        local('Open Sans Medium'),
        local('OpenSans-Medium'),
        url('../fonts/OpenSans-Medium.woff2') format('woff2'),
        url('../fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}