body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

/* ====================================================== */

.title::before {
    content: '';
    position: absolute;
    left: 450px;
    display: block;
    background: #ff0000;
    height: 80px;
    width: 80px;
    border-radius: 4rem;
    border: solid;
}

.title::after {
    content: '';
    position: relative;
    right: -725px;
    bottom: 80px;
    display: block;
    background: #8400ff;
    height: 80px;
    width: 80px;
    border-radius: 4rem;
    border: solid;
}

